*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.myHeader{
    text-align: center;
    padding: 20px;

}

.container{
    display: grid;
    background-color: black;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(7,1fr);

    height: 700px;
    width: 1100;
    margin: auto;
}

.grid-item{
    border: black 5px solid;
    background-size: cover;
}

.div1{
    grid-column: span 2;
    grid-row:span 1;
    background-image: url(01.jpg);
}

.div2{
    grid-column: span 3;
    grid-row:span 1;
    background-image: url(02.jpg);
}

.div3{
    grid-column: span 2;
    grid-row:span 1;
    background-image: url(03.jpg);
}

.div4{
    grid-column: span 1;
    grid-row:span 6;
    background-image: url(04.jpg);
}

.div5{
    grid-column: span 1;
    grid-row:span 2;
    background-image: url(05.jpg);
}

.div6{
    grid-column: span 2;
    grid-row:span 2;
    grid-column-start: 10;
    grid-column-end: 12;
    background-image: url(07.jpg);
}

.div7{
    grid-column: span 4;
    grid-row:span 4;
    background-image: url(06.jpg);
}

.div8{
    grid-column: span 1;
    grid-row:span 3;
    background-image: url(08.jpg);
}

.div9{
    grid-column: span 1;
    grid-row:span 2;
    background-image: url(09.jpg);
}

.div10{
    grid-column: span 1;
    grid-row:span 2;
    background-image: url(10.jpg);
}

.div11{
    grid-column: span 2;
    grid-row:span 2;
    background-image: url(11.jpg);
}

.div12{
    grid-column: span 1;
    grid-row:span 3;
    background-image: url(12.jpg);
}

.div13{
   
    grid-column: span 2;
    grid-row:span 1;
    background-image: url(13.jpg);
}

.div14{
    grid-column: span 1;
    grid-row:span 3;
    background-image: url(14.jpg);
}

.div15{
    grid-column: span 2;
    grid-row:span 2;
    background-image: url(15.jpg);
}

.div16{
    grid-column: span 2;
    grid-row:span 2;
    background-image: url(16.jpg);
}

.div17{
    grid-column: span 2;
    grid-row:span 2;
    background-image: url(17.jpg);
}

.div18{
    grid-column: span 2;
    grid-row:span 2;
    background-image: url(18.jpg);
}

.div19{
    grid-column: span 1;
    grid-row:span 3;
    background-image: url(19.jpg);
}

.div20{
    grid-column: span 1;
    grid-row:span 4;
    background-image: url(20.jpg);
}


